In [2]:
import pandas as pd
import django
from datetime import datetime, timedelta

Extracting data and loading into DF

In [3]:
orders=pd.read_csv("C:/Users/bermo/OneDrive/Bureau/Le Wagon - cours/Big Mamma project/Raw tables/orders_BMEngland_202109.csv",low_memory=False)
# bookings=pd.read_csv("bookings_BMEngland_202109_today.csv",low_memory=False)
# items202109=pd.read_csv("item_BMEngland_202109_to_202112.csv",low_memory=False)
# items202201=pd.read_csv("items_BMEngland_202201_to_202206.csv",low_memory=False)
# items202207=pd.read_csv("items_BMEngland_202207_to_202212.csv",low_memory=False)
# items202301=pd.read_csv("items_BMEngland_202301_to_202306.csv",low_memory=False)
# items202307=pd.read_csv("items_BMEngland_202307_to_202310.csv",low_memory=False)
# clients1=pd.read_csv("clients_1_2.csv",low_memory=False)
# clients2=pd.read_csv("clients_2_2.csv",low_memory=False)
pd.set_option('display.max_columns', None)

Exploring DF : dtypes, null values....

In [4]:
orders.head()

,order_id,site_id,site_name,business_unit,brand,site_type,country,city,business_location_id,owner_id,owner_name,ticket_date,accounting_date,time_of_close_and_paid,time_of_opening,time_of_op_local,time_of_close_local,is_table_500_1000,is_transfer,is_transitory,is_update,is_void,is_back_office,is_neg_sales,is_zero_sales,is_pos_sales,is_off_dir,is_full_disc,mains,order,covers_ls,covers,type,nb_saleslines,payment_occurence,account_profile,payment_type,discount_occurence,discount_type,account_discount_occurence,account_discount_type,currencyOrigin,change_rate,order_source,order_conso_mode,order_sub_source,total_charity_local,total_charity_eur,service_charge_local,service_charge_eur,tax_local,tax_eur,revenue_incl_tax_local,revenue_incl_tax_eur,revenue_excl_tax_local,revenue_excl_tax_eur,discount_incl_tax_eur,discount_incl_tax_local,discount_excl_tax_eur,discount_excl_tax_local,CFO_unit,ops_analysis_unit,service,table_name,table_number,ticket_category,detailed_ticket_category,reservation_date,arrival_time,seated_time,seated_time_local,expected_duration,actual_duration,diff_seated_arrival_time,diff_opening_seated_time
0,A112246.34,12,Gloria London,BMEngland,BM,Tratto,England,London,218656785039525,147317.0,Online Order,2021-12-09,2021-12-09,2021-12-09 22:15:56.433 UTC,2021-12-09 22:16:28.009 UTC,22:16:28.009,22:15:56.433,0,False,False,False,False,True,False,False,True,False,False,0.0,1,0,0,SALE,1,1,NaN,IKDEBT,0,NaN,0,NaN,GBP,1.170938,Group,Seat-in,NaN,NaN,NaN,0.0,0.0,378.0000,442.614658,2268.0,2655.687950,1890.0000,2213.073291,0.0,0.0,0.0,0.0,Cover,Cover,DINNER,NaN,NaN,Other,Group,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
1,A118319.39380,12,Gloria London,BMEngland,BM,Tratto,England,London,218656785039525,224165.0,Stefano Tasca,2021-12-04,2021-12-04,2021-12-04 23:24:10.792 UTC,2021-12-04 22:55:03.719 UTC,22:55:03.719,23:24:10.792,0,False,False,False,False,False,False,False,False,False,False,0.0,0,0,0,SALE,0,1,Service Charge,CASH,0,NaN,0,NaN,GBP,1.169626,Walkin,Seat-in,NaN,0.0,0.0,0.0,0.0,0.0000,0.000000,0.0,0.000000,0.0000,0.000000,0.0,0.0,0.0,0.0,Cover,Cover,DINNER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,NaN,NaN
2,A713532.371,13,Circolo Popolare,BMEngland,BM,Tratto,England,London,218656785039362,168511.0,Serena,2021-12-12,2021-12-12,2021-12-12 05:30:14.382 UTC,2021-12-12 05:30:14.382 UTC,05:30:14.382,05:30:14.382,0,False,True,False,False,False,False,False,False,False,False,0.0,-1,0,0,TRANSITORY,0,1,Service Charge,NaN,0,NaN,0,NaN,GBP,1.171941,Walkin,Seat-in,NaN,NaN,NaN,0.0,0.0,0.0000,0.000000,0.0,0.000000,0.0000,0.000000,0.0,0.0,0.0,0.0,Cover,Cover,BREAKFAST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
3,A713532.119,13,Circolo Popolare,BMEngland,BM,Tratto,England,London,218656785039362,168511.0,Serena,2021-12-11,2021-12-11,2021-12-12 05:30:13.076 UTC,2021-12-11 14:12:54.226 UTC,14:12:54.226,05:30:13.076,0,False,False,False,False,False,False,False,False,False,False,0.0,0,0,0,SALE,0,1,Service Charge,NaN,0,NaN,0,NaN,GBP,1.172818,Walkin,Seat-in,NaN,0.0,0.0,0.0,0.0,0.0000,0.000000,0.0,0.000000,0.0000,0.000000,0.0,0.0,0.0,0.0,Cover,Cover,LUNCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,917,NaN,NaN
4,A89069.36,13,Circolo Popolare,BMEngland,BM,Tratto,England,London,218656785039362,147317.0,Online Order,2021-12-09,2021-12-09,2021-12-09 17:21:32.209 UTC,2021-12-09 17:22:13.663 UTC,17:22:13.663,17:21:32.209,0,False,False,False,False,True,False,False,True,False,False,0.0,1,0,0,SALE,1,1,NaN,IKDEBT,0,NaN,0,NaN,GBP,1.170938,Group,Seat-in,NaN,NaN,NaN,0.0,0.0,115.5556,135.308472,1040.0,1217.775779,924.4444,1082.467307,0.0,0.0,0.0,0.0,Cover,Cover,AFTERNOON,NaN,NaN,Other,Group,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN

In [5]:
orders.isnull().sum()

order_id                         0
site_id                          0
site_name                        0
business_unit                    0
brand                            0
                             ...
seated_time_local           129788
expected_duration           129777
actual_duration                  0
diff_seated_arrival_time    129790
diff_opening_seated_time    129788
Length: 75, dtype: int64

In [6]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791915 entries, 0 to 791914
Data columns (total 75 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   order_id                    791915 non-null  object
 1   site_id                     791915 non-null  int64
 2   site_name                   791915 non-null  object
 3   business_unit               791915 non-null  object
 4   brand                       791915 non-null  object
 5   site_type                   791915 non-null  object
 6   country                     791915 non-null  object
 7   city                        791915 non-null  object
 8   business_location_id        791915 non-null  int64
 9   owner_id                    791914 non-null  float64
 10  owner_name                  791914 non-null  object
 11  ticket_date                 791915 non-null  object
 12  accounting_date             791915 non-null  object
 13  time_of_close_and_paid      791915 non-null  object
 14  time_of_opening             791915 non-null  object
 15  time_of_op_local            791915 non-null  object
 16  time_of_close_local         791915 non-null  object
 17  is_table_500_1000           791915 non-null  int64
 18  is_transfer                 791915 non-null  bool
 19  is_transitory               791915 non-null  bool
 20  is_update                   791915 non-null  bool
 21  is_void                     791915 non-null  bool
 22  is_back_office              791915 non-null  bool
 23  is_neg_sales                791915 non-null  bool
 24  is_zero_sales               791915 non-null  bool
 25  is_pos_sales                791915 non-null  bool
 26  is_off_dir                  791915 non-null  bool
 27  is_full_disc                791915 non-null  bool
 28  mains                       791915 non-null  float64
 29  order                       791915 non-null  int64
 30  covers_ls                   791915 non-null  int64
 31  covers                      791915 non-null  int64
 32  type                        791915 non-null  object
 33  nb_saleslines               791915 non-null  int64
 34  payment_occurence           791915 non-null  int64
 35  account_profile             791326 non-null  object
 36  payment_type                782563 non-null  object
 37  discount_occurence          791915 non-null  int64
 38  discount_type               71365 non-null   object
 39  account_discount_occurence  791915 non-null  int64
 40  account_discount_type       19353 non-null   object
 41  currencyOrigin              791915 non-null  object
 42  change_rate                 791915 non-null  float64
 43  order_source                791915 non-null  object
 44  order_conso_mode            791915 non-null  object
 45  order_sub_source            662139 non-null  object
 46  total_charity_local         328003 non-null  float64
 47  total_charity_eur           328003 non-null  float64
 48  service_charge_local        791915 non-null  float64
 49  service_charge_eur          791915 non-null  float64
 50  tax_local                   791915 non-null  float64
 51  tax_eur                     791915 non-null  float64
 52  revenue_incl_tax_local      791915 non-null  float64
 53  revenue_incl_tax_eur        791915 non-null  float64
 54  revenue_excl_tax_local      791915 non-null  float64
 55  revenue_excl_tax_eur        791915 non-null  float64
 56  discount_incl_tax_eur       791915 non-null  float64
 57  discount_incl_tax_local     791915 non-null  float64
 58  discount_excl_tax_eur       791915 non-null  float64
 59  discount_excl_tax_local     791915 non-null  float64
 60  CFO_unit                    791915 non-null  object
 61  ops_analysis_unit           791915 non-null  object
 62  service                     791915 non-null  object
 63  table_name                  791109 non-null  object
 64  table_number                790283 non-null  object
 65  ticket_category             788421 non-null  object
 66  detailed_ticket_category    788421 non-null  object
 67  reservation_date            662138 non-null  object
 68  arrival_time                662136 non-null  object
 69  seated_time                 662127 non-null  object
 70  seated_time_local           662127 non-null  object
 71  expected_duration           662138 non-null  float64
 72  actual_duration             791915 non-null  int64
 73  diff_seated_arrival_time    662125 non-null  float64
 74  diff_opening_seated_time    662127 non-null  float64
dtypes: bool(10), float64(20), int64(11), object(34)
memory usage: 400.3+ MB

Datetime and UTC transformation

In [7]:
#Cast data to datetime
orders[['reservation_date','arrival_time','seated_time','seated_time_local','ticket_date','accounting_date','time_of_opening','time_of_op_local','time_of_close_local','time_of_close_and_paid']]=orders[['reservation_date','arrival_time','seated_time','seated_time_local','ticket_date','accounting_date','time_of_opening','time_of_op_local','time_of_close_local','time_of_close_and_paid']].apply(pd.to_datetime,format="mixed")

In [8]:
#Remove UTC
orders['seated_time']=orders['seated_time'].dt.tz_localize(None)
orders['time_of_close_and_paid']=orders['time_of_close_and_paid'].dt.tz_localize(None)
orders['time_of_opening']=orders['time_of_opening'].dt.tz_localize(None)

Converting bools to 0/1

In [9]:
#Function to convert the bool to int
def bool_converter(x):
    if x==True:
        return 1
    else:
        return 0

In [10]:
#Conversion of columns with a boolean value to 0/1
orders[['is_transfer','is_update','is_void','is_back_office','is_neg_sales','is_zero_sales','is_pos_sales','is_off_dir','is_full_disc']]=orders[['is_transfer','is_update','is_void','is_back_office','is_neg_sales','is_zero_sales','is_pos_sales','is_off_dir','is_full_disc']].map(bool_converter)

In [ ]:
#Changing order name to avoid SQL bugs
orders

Exporting CSV

In [11]:
orders.to_csv('orders_formatted.csv',index=False)

In [12]:
orders.loc[[108038]]

,order_id,site_id,site_name,business_unit,brand,site_type,country,city,business_location_id,owner_id,owner_name,ticket_date,accounting_date,time_of_close_and_paid,time_of_opening,time_of_op_local,time_of_close_local,is_table_500_1000,is_transfer,is_transitory,is_update,is_void,is_back_office,is_neg_sales,is_zero_sales,is_pos_sales,is_off_dir,is_full_disc,mains,order,covers_ls,covers,type,nb_saleslines,payment_occurence,account_profile,payment_type,discount_occurence,discount_type,account_discount_occurence,account_discount_type,currencyOrigin,change_rate,order_source,order_conso_mode,order_sub_source,total_charity_local,total_charity_eur,service_charge_local,service_charge_eur,tax_local,tax_eur,revenue_incl_tax_local,revenue_incl_tax_eur,revenue_excl_tax_local,revenue_excl_tax_eur,discount_incl_tax_eur,discount_incl_tax_local,discount_excl_tax_eur,discount_excl_tax_local,CFO_unit,ops_analysis_unit,service,table_name,table_number,ticket_category,detailed_ticket_category,reservation_date,arrival_time,seated_time,seated_time_local,expected_duration,actual_duration,diff_seated_arrival_time,diff_opening_seated_time
108038,A700727.72047,34,Ave Mario,BMEngland,BM,Tratto,England,London,218656785050695,222193.0,Vincenzo Marsella,2022-08-15,2022-08-15,2022-08-15 22:09:19.173,2022-08-15 12:26:18.029,2023-11-27 13:26:18.029,2023-11-27 23:09:19.173,0,0,False,0,0,0,0,1,0,0,0,0.0,0,0,0,SALE,2,1,Service Charge,CASH,0,NaN,0,NaN,GBP,1.186442,Walkin,Seat-in,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cover,Cover,LEMONADE,OH Carmela Marrucci,NaN,Beverage,Softs,NaT,NaT,NaT,NaT,NaN,583,NaN,NaN